<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lovedient.com.thelovedietandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_final_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activities.SpashActivity"
            android:theme="@style/ThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/ThemeNoAction"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/ThemeNoAction"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".activities.MainPointActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/ThemeNoAction"
            ></activity>
    </application>

</manifest>